<footer style="background-color: var(--green-primary); color: white;" class="pt-5 pb-4">
  <div class="container-fluid mx-lg-5 px-lg-5">
    
    <div class="row align-items-center mb-4">
      <div class="col-12 col-lg-4 mb-4 mb-lg-0">
        <h2 class="playfair-bold display-5 m-0">Dewdrop Tea</h2>
      </div>
      <div class="col-12 col-lg-8">
        <p class="inter-regular m-0" style="font-size: 0.95rem; line-height: 1.6; opacity: 0.9;">
          The Dewdrop Tea website is an online store platform that offers a wide selection of high-quality teas with a simple and elegant design. Users can easily search for products, view details, and make purchases using the available features. The website also provides contact information to facilitate communication between customers and the seller.
        </p>
      </div>
    </div>

    <hr class="border-white opacity-50 mb-5">

    <div class="row text-center mb-5">
      
      <div class="col-6 col-md-3 mb-4 mb-md-0">
        <h5 class="playfair-bold mb-4">CONTACT</h5>
        <ul class="list-unstyled inter-regular" style="opacity: 0.9;">
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">CONTACT</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">CONTACT</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">CONTACT</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-4 mb-md-0">
        <h5 class="playfair-bold mb-4">CONTACT</h5>
        <ul class="list-unstyled inter-regular" style="opacity: 0.9;">
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">CONTACT</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">CONTACT</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">CONTACT</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-4 mb-md-0">
        <h5 class="playfair-bold mb-4">CONTACT</h5>
        <ul class="list-unstyled inter-regular" style="opacity: 0.9;">
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">CONTACT</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">CONTACT</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">CONTACT</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3">
        <h5 class="playfair-bold mb-4">CONTACT</h5>
        <ul class="list-unstyled inter-regular" style="opacity: 0.9;">
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">CONTACT</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">CONTACT</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">CONTACT</a></li>
        </ul>
      </div>

    </div>

    <hr class="border-white opacity-50 w-75 mx-auto mb-4">

    <div class="text-center inter-regular" style="opacity: 0.9;">
      <small>Copyright</small>
    </div>

  </div>
</footer>