<nav class="navbar navbar-expand-lg bg-white shadow-sm py-4">
  <div class="container-fluid mx-5">
    
    <a class="navbar-brand playfair-bold green-primary fs-1" href="index.html">
      Dewdrop Tea
    </a>

    <form class="d-flex ms-lg-5" style="max-width: 350px; width: 100%;">
      <div class="position-relative w-100">
        <i class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-3 fs-5"></i>
        <input class="form-control rounded-pill border-0 ps-5 inter-regular fs-5" type="search" placeholder="Search....." style="background-color: var(--grey-light);">
      </div>
    </form>

    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDewdrop">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse fs-5" id="navbarDewdrop">

      <ul class="navbar-nav align-items-center gap-lg-2 ms-auto">
  <li class="nav-item">
    <a class="nav-link inter-regular text-dark px-3" href="index.html">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link inter-regular text-dark px-3" href="shop.html">Shop</a>
  </li>
  <li class="nav-item">
    <a class="nav-link inter-regular text-dark px-3" href="promo.html">Promo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link inter-regular text-dark px-3" href="contact.html">Contact</a>
  </li>
</ul>

      <div class="d-flex align-items-center gap-3 ms-lg-4 mt-3 mt-lg-0">
        <a href="#" class="text-dark fs-4 text-decoration-none"><i class="bi bi-heart"></i></a>
        <a href="#" class="text-dark fs-3 text-decoration-none"><i class="bi bi-cart2"></i></a>
      </div>

    </div>
  </div>
</nav>